@font-face {
  font-family: "OpenSans";
  src: url("../static/fonts/OpenSans-CondBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "OpenSans";
  src: url("../static/fonts/OpenSans-CondLight.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url("../static/fonts/Inter-Light.otf");
}
* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  font-family: "OpenSans", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
}

.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  padding: 15px 40px;
  box-sizing: border-box;
  border-radius: 35px;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  background-color: #4580ff;
}
.btn.transparent {
  background-color: transparent;
}

.title {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.press {
  transform: scale(1);
  transition: transform 0.2s ease-in;
}
.press:active {
  transform: scale(0.9);
}

@font-face {
  font-family: "OpenSans";
  src: url("../static/fonts/OpenSans-CondBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "OpenSans";
  src: url("../static/fonts/OpenSans-CondLight.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url("../static/fonts/Inter-Light.otf");
}
.menu_burger {
  width: 35px;
  height: 30px;
  background-color: transparent;
  position: relative;
  z-index: 100;
}

#burger {
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 3;
  height: 30px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.menu_burger > span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  position: absolute;
  top: 13px;
  left: 0px;
  z-index: 1;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.1, 1);
}

.menu_burger > span:nth-of-type(1) {
  transform: translate(0, 10px);
}

.menu_burger > span:nth-of-type(4) {
  transform: translate(0, -10px);
}

.menu_burger > #burger:checked ~ span:nth-of-type(1) {
  transform: translate(-30px, 10px);
  opacity: 0;
}

.menu_burger > #burger:checked ~ span:nth-of-type(2) {
  transform: rotate(45deg);
}

.menu_burger > #burger:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
}

.menu_burger > #burger:checked ~ span:nth-of-type(4) {
  transform: translate(30px, -10px);
  opacity: 0;
}

.menu_burger .menu_popup {
  position: absolute;
  top: -25px;
  right: -20px;
  width: 100vw;
  height: 800px;
  background-color: #121212;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateX(100vw);
  padding-top: 200px;
  padding-right: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 20px #121212;
}
.menu_burger .menu_popup nav {
  display: flex;
  align-items: end;
  justify-content: start;
  flex-direction: column;
}
.menu_burger .menu_popup nav ul {
  list-style: none;
}
.menu_burger .menu_popup nav ul a {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 30px;
  color: #fff;
  text-decoration: none;
}
.menu_burger #burger:checked ~ .menu_popup {
  opacity: 95%;
  transform: translateX(0);
}

.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121212;
}
.registration .popup_container .popup_title {
  margin-top: 30px;
  text-align: center;
}
.registration .popup_container .popup_form {
  padding: 20px 0;
}
.registration .popup_container .popup_form .form_input {
  max-width: 100%;
  position: relative;
  margin: 20px 0;
}
.registration .popup_container .popup_form .form_input input,
.registration .popup_container .popup_form .form_input label,
.registration .popup_container .popup_form .form_input .input_errors {
  transition: all 0.2s ease-out;
}
.registration .popup_container .popup_form .form_input input {
  width: 100%;
  height: 60px;
  padding: 15px 20px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 30px;
  background-color: transparent;
  outline: none;
  color: #fff;
  font-size: 20px;
  font-family: "OpenSans", sans-serif;
}
.registration .popup_container .popup_form .form_input input input:-webkit-autofill,
.registration .popup_container .popup_form .form_input input input:-webkit-autofill:focus {
  -webkit-transition: background-color 0s 600000s, color 0s 600000s !important;
  transition: background-color 0s 600000s, color 0s 600000s !important;
}
.registration .popup_container .popup_form .form_input input:not(:-moz-placeholder-shown) + label {
  top: -11px;
  left: 35px;
  font-size: 16px;
}
.registration .popup_container .popup_form .form_input input:focus + label, .registration .popup_container .popup_form .form_input input:not(:placeholder-shown) + label {
  top: -11px;
  left: 35px;
  font-size: 16px;
}
.registration .popup_container .popup_form .form_input input#city:focus ~ .autocompliter {
  display: block;
}
.registration .popup_container .popup_form .form_input input#phone {
  padding-left: 60px;
}
.registration .popup_container .popup_form .form_input input#phone ~ span {
  position: absolute;
  top: 16px;
  left: 21px;
  opacity: 0;
  transition: all 0.1s;
}
.registration .popup_container .popup_form .form_input input#phone:focus ~ span, .registration .popup_container .popup_form .form_input input#phone:valid ~ span {
  opacity: 100;
}
.registration .popup_container .popup_form .form_input label {
  position: absolute;
  top: 16px;
  left: 21px;
  background-color: #121212;
  padding: 0px 5px;
  border-radius: 10px;
}
.registration .popup_container .popup_form .form_input .input_errors {
  position: absolute;
  right: 34px;
  bottom: -8px;
  color: red;
  padding: 0 5px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #121212;
}
.registration .popup_container .popup_form .form_input .input_errors .enter_value {
  display: none;
}
.registration .popup_container .popup_form .form_input .input_errors .change_value {
  display: none;
}
.registration .popup_container .popup_form .form_input .autocompliter {
  display: none;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  background-color: #fff;
  position: absolute;
  z-index: 3;
  top: 65px;
  left: 0px;
  right: 0;
  border-radius: 10px;
  color: #121212;
}
.registration .popup_container .popup_form .form_input .autocompliter div {
  padding: 10px 20px;
}
.registration .popup_container .popup_form .form_input .autocompliter:active {
  display: block;
}
.registration .popup_container .popup_form .form_input.no_value input {
  border-color: red;
}
.registration .popup_container .popup_form .form_input.no_value label,
.registration .popup_container .popup_form .form_input.no_value input,
.registration .popup_container .popup_form .form_input.no_value span {
  color: red;
}
.registration .popup_container .popup_form .form_input.no_value .input_errors .enter_value {
  display: block;
}
.registration .popup_container .popup_form .form_input.invalid input {
  border-color: red;
}
.registration .popup_container .popup_form .form_input.invalid label,
.registration .popup_container .popup_form .form_input.invalid input,
.registration .popup_container .popup_form .form_input.invalid span {
  color: red;
}
.registration .popup_container .popup_form .form_input.invalid .input_errors .change_value {
  display: block;
}

.first_section {
  position: relative;
  overflow: hidden;
}
.first_section .main_img {
  position: absolute;
  z-index: -1;
  top: -246px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../static/img/main-img.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
}
.first_section .main_img::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(30, 2, 142, 0.3607843137);
}
.first_section .container .header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first_section .container .header .header_lang {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  position: relative;
  z-index: 101;
}
.first_section .container .header .header_lang input {
  width: 40px;
  height: 0;
}
.first_section .container .header .header_lang input#En::before {
  content: "En";
}
.first_section .container .header .header_lang input#Ru::before {
  content: "Ru";
}
.first_section .container .header .header_lang input::before {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  top: -20px;
  font-family: "Inter";
  font-size: 16px;
  color: #fff;
}
.first_section .container .header .header_lang input:checked::before {
  background-color: rgba(194, 194, 194, 0.5803921569);
}
.first_section .container .header .header_lang .lang_button {
  width: 40px;
  aspect-ratio: 1;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  font-family: "Inter";
  font-size: 16px;
  color: #fff;
}
.first_section .container .header .header_nav {
  display: none;
}
.first_section .container .main {
  padding: 90px 0 188px;
  text-align: center;
}
.first_section .container .main .main_date {
  margin-bottom: 40px;
}
.first_section .container .main .main_title {
  font-size: 50px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.first_section .container .main .main_location {
  font-size: 30px;
  margin-bottom: 86px;
}
.first_section::after {
  height: 100px;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #121212 100%);
}

.about {
  padding: 60px 0;
}
.about .container .about_title {
  margin-bottom: 30px;
}
.about .container .about_text {
  font-size: 25px;
  text-transform: uppercase;
}
.about .container .about_text span {
  color: #4580ff;
}

.speakers {
  padding: 30px 0 60px;
}
.speakers .container .speakers_title {
  margin-bottom: 30px;
}
.speakers .container .speakers_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.speakers .container .speakers_cards .speaker_card {
  max-width: 400px;
}
.speakers .container .speakers_cards .speaker_card .card_img {
  width: 100%;
  aspect-ratio: 320/240;
  margin-bottom: 15px;
  overflow: hidden;
}
.speakers .container .speakers_cards .speaker_card .card_img img {
  width: 100%;
}
.speakers .container .speakers_cards .speaker_card .card_name {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 3px;
}

.conditions {
  padding: 60px 0;
}
.conditions .container .conditions_title {
  margin-bottom: 30px;
}
.conditions .container .conditions_cards {
  display: flex;
  gap: 35px;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.conditions .container .conditions_cards .condition_card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 15px;
}
.conditions .container .conditions_cards .condition_card .card_svg {
  width: 80px;
}
.conditions .container .conditions_cards .condition_card .card_info {
  max-width: 400px;
}
.conditions .container .conditions_cards .condition_card .card_info .card_title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 3px;
}
.conditions .container .conditions_active {
  margin-top: 90px;
  text-align: center;
}

.faq {
  padding: 60px 0;
}
.faq .container .faq_title {
  margin-bottom: 25px;
}
.faq .container .faq_accordion input[type=radio] {
  position: absolute;
  z-index: -1;
  display: none;
}
.faq .container .faq_accordion input[type=radio]:checked + .accordion_section {
  grid-template-rows: min-content 1fr;
}
.faq .container .faq_accordion input[type=radio]:checked + .accordion_section .section_head svg {
  transform: rotate(180deg);
}
.faq .container .faq_accordion .accordion_section {
  display: grid;
  grid-template-rows: min-content 0fr;
  transition: all 0.5s;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.faq .container .faq_accordion .accordion_section .section_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
}
.faq .container .faq_accordion .accordion_section .section_head span {
  font-size: 25px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.faq .container .faq_accordion .accordion_section .section_head svg {
  transition: all 0.5s;
  width: 30px;
  flex-shrink: 0;
}
.faq .container .faq_accordion .accordion_section .section_body {
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */