

@font-face {
    font-family: 'OpenSans';
    src: url('../static/fonts/OpenSans-CondBold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../static/fonts/OpenSans-CondLight.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url('../static/fonts/Inter-Light.otf');
}