@use "../../node_modules/intl-tel-input/build/css/intlTelInput.css";

@import '_common.scss';
@import '_fonts.scss';
@import '_burger.scss';
@import '_adaptive.scss';
@import '_form.scss';
@import '_intelTelInput.scss';


@keyframes header-scroll {
  to {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.header {
  padding: clamp(20px, 5vw, 40px);
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 1000;

  animation-name: header-scroll;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0px 700px;


  .header_lang {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    position: relative;
    z-index: 101;

    input {
      display: none;
      position: relative;
      z-index: -100;

      &:checked+label {
        background-color: #c2c2c294;
      }
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      aspect-ratio: 1;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid #fff;
      cursor: pointer;

      transition: all .2s;


      font-family: 'Inter';
      font-size: 16px;
      color: $text-color
    }
  }
}

.main {
  padding: 190px 0 150px;
  position: relative;
  // overflow: hidden;
  text-align: center;

  .main_img {
    position: absolute;
    z-index: -1;
    top: -246px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../static/img/main-img.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;

      background-color: #1e028e5c;
    }

  }

  .container {
    .main_date {
      margin-bottom: 40px;
    }

    .main_title {
      font-size: clamp(40px, calc(14vw - 7.6px), 120px);
      line-height: 100%;
      text-transform: uppercase;

      margin-bottom: 40px;
    }

    .main_location {
      font-size: clamp(30px, calc(3.5vw + 13.25px), 50px);
      margin-bottom: 86px;
    }

  }
}


.about {
  padding: 30px 0 60px;
  position: relative;


  &::before {
    height: 100px;
    content: '';
    display: block;
    position: absolute;
    top: -90px;
    left: 0;
    right: 0;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, $bg-color 100%);
  }

  .container {
    .about_title {
      margin-bottom: 30px;
    }

    .about_text {
      font-size: clamp(25px, 6vw, 40px);
      text-transform: uppercase;

      span {
        color: $second-color;
      }

    }
  }
}

.speakers {
  padding: 30px 0 60px;

  .container {
    .speakers_title {
      margin-bottom: 30px;
    }

    .speakers_cards {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 50px;

      .speaker_card {
        max-width: 580px;

        .card_img {
          width: 100%;
          aspect-ratio: 320/240;
          margin-bottom: 15px;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        .card_name {
          font-size: 25px;
          font-weight: 700;
          margin-bottom: 3px;
        }

      }
    }
  }
}

.conditions {
  padding: 60px 0;

  .container {
    .conditions_title {
      margin-bottom: 30px;
    }

    .conditions_cards {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: space-between;
      gap: 50px;

      .condition_card {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 15px;

        .card_svg {
          width: clamp(80px, calc(100% / 3 - 40px / 3), 120px);
          aspect-ratio: 1;

          svg {
            width: 100%;
            aspect-ratio: 1;

            path {
              fill: $second-color
            }
          }
        }

        .card_info {
          max-width: 400px;

          .card_title {
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 3px;
          }
        }
      }
    }

    .conditions_active {
      margin-top: 90px;
      text-align: center;
    }
  }
}

.faq {
  padding: 60px 0;

  .container {
    .faq_title {
      margin-bottom: 25px;
    }

    .faq_accordion {
      input[type='radio'] {
        position: absolute;
        z-index: -1;
        display: none;

        &:checked+.accordion_section {
          grid-template-rows: min-content 1fr;

          .section_head svg {
            transform: rotate(180deg);
          }
        }
      }

      .accordion_section {
        display: grid;
        grid-template-rows: min-content 0fr;
        transition: all .5s;
        border-bottom: 2px solid $text-color;
        padding-bottom: 10px;
        margin-bottom: 20px;

        .section_head {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 20px;
          cursor: pointer;
          padding-bottom: 10px;

          span {
            font-size: clamp(25px, 6vw, 30px);
            line-height: 32px;
            font-weight: 700;
            text-transform: uppercase;
          }

          svg {
            transition: all .5s;
            width: 30px;
            flex-shrink: 0;
          }
        }

        .section_body {
          overflow: hidden;
          a {
            color: $second-color;
            text-decoration: none;

            &::after {
              content: '\2192';
              display: inline-block;
              margin-left: 5px;

            }
          }
        }
      }
    }
  }
}

.registration {
  padding: 60px 0 100px;

  .container {
    .registration_title {
      margin-bottom: 60px;
    }

    .registration_form {
      display: flex;
      align-items: baseline;
      justify-content: center;
      gap: 30px 20px;
      flex-wrap: wrap;



      .form_input {
        max-width: 467px;
        min-width: 280px;
        flex: 1 1 calc(50% - 10px);
        position: relative;


        input,
        label,
        .input_errors {
          transition: all .2s ease-out;
        }

        &>input,
        &>div>input {
          width: 100%;
          padding: 13px 0px;
          box-sizing: border-box;

          border: none;
          border-bottom: 1px solid $text-color;
          background-color: transparent !important;
          outline: none;
          color: $text-color;
          font-size: clamp(20px, 3vw, 25px);
          font-family: 'OpenSans', sans-serif;

          input:-webkit-autofill,
          input:-webkit-autofill:focus {
            transition: background-color 0s 600000s, color 0s 600000s !important;
          }

          &:focus+label,
          &:not(:placeholder-shown)+.input_label {
            top: -11px;
            left: 0px;
            font-size: 16px;

          }

          &#city:focus~.autocompliter {
            display: block;
          }

          &#phone {
            padding-left: 60px;

            &~span {
              position: absolute;
              top: 16px;
              left: 21px;
              opacity: 0;
              transition: all .1s;
            }

            &:focus~span,
            &:valid~span {
              opacity: 100;
            }
          }
        }

        &>label {
          position: absolute;
          top: 16px;
          left: 0px;
        }

        .input_errors {
          position: absolute;
          right: 34px;
          bottom: -8px;
          color: red;
          padding: 0 5px;
          border-radius: 10px;
          font-size: 16px;
          background-color: $bg-color;

          .enter_value {
            display: none;
          }

          .change_value {
            display: none;
          }
        }

        .autocompliter {
          display: none;
          width: 100%;
          max-height: 300px;
          overflow-y: scroll;
          background-color: #fff;
          position: absolute;
          z-index: 3;
          top: 65px;
          left: 0px;
          right: 0;

          border-radius: 10px;

          color: $bg-color;

          div {
            padding: 10px 20px;
          }

          &:active {
            display: block;
          }
        }

        &.no_value {
          input {
            border-color: red;
          }

          label,
          input,
          span {
            color: red;
          }

          .input_errors {
            .enter_value {
              display: block;
            }
          }
        }

        &.invalid {
          input {
            border-color: red;
          }


          label,
          input,
          span {
            color: red;
          }

          .input_errors {
            .change_value {
              display: block;
            }
          }
        }

        // accordion rulls
        &.form_accordion {
          display: grid;
          grid-template-rows: min-content 0fr;
          transition: all .5s ease-out;

          &.open {
            grid-template-rows: min-content 1fr;
          }

          .form_input_head {
          }

          .form_input_body {
            overflow: hidden;
          }

        }

        //labels rulls
        &.form_accordion {
          label {
            display: inline-block;
            min-width: 86px;
            height: 37px;
            padding: 4px 14px;
            box-sizing: border-box;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 20px;
            background-color: $second-color-dark;
            cursor: pointer;
          }

          input[type="checkbox"],
          input[type="radio"] {
            display: none;
            position: relative;
            z-index: -1;

            &:checked+label {
              background-color: $second-color;
              color: $bg-color;
            }
          }
        }

        .form_input_head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 10px;

          .form_input_title {
            min-width: max-content;
          }

          .form_input_active {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            gap: 10px;
          }
        }
        .form_input_body.grid{
          display: grid;
          grid-template-columns: minmax(86px, 134px) 1fr;
          gap: 16px 5px;
        }

        .form_input_body.flex {
          display: flex;
          align-items: center;
          justify-content: start;
          flex-wrap: wrap;
          gap: 10px 20px;
          &>* {
            flex-grow: 1;

          }
        }


        .form_input_body {
          margin-top: 16px;
          

          .title_and_input {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 5px;
            flex-wrap: nowrap;

            span {
              min-width: max-content;
            }

            input {
              max-width: 56px;
              text-align: center;

              background-color: transparent;
              outline: none;
              border: none;
              border-bottom: 1px solid $text-color;

              color: $text-color;
              font-size: 20px;

              padding: 0 5px;
              box-sizing: border-box;
            }
          }
        }
      }

      .btn {
        margin-top: clamp(60px, 20vw, 90px);
      }
    }
  }
}

.footer {
  padding: 40px 30px;
  border-top: 1px solid $text-color;

  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;

  .footer_block {
    min-width: 190px;

    a {
      cursor: pointer;
      font-family: 'OpenSans', sans-serif;
      color: $text-color;
      font-weight: 300;
      font-size: 20px;
      text-decoration: none;
    }
  }
}